<div class="line"></div>
<div class="wrapper">
  <header role="banner">
    <nav role="navigation">
      <h1><a href="#">Asperion</a></h1>
      <ul class="nav-ul">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Technologies</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </nav>
  </header>
  <main role="main">
    <section class="sec-intro" role="section">
      <img src="https://www.techweekeurope.co.uk/wp-content/uploads/2012/07/wifimountaindownload.jpg" alt="" />
      <h1>Be Innovative!</h1>
    </section>

    <section class="sec-projects" role="section">
      <hr />
      <h1>Previous Projects</h1>
      <article>
        <h1>One Punch!</h1>
      </article>
      <article>
        <h1>Python Projects!</h1>
      </article>
      <article>
        <h1>Star Wars X One Piece!</h1>
      </article>
    </section>
    <section class="sec-standards" role="section">
      <hr />
      <h1>Who am I?</h1>
      <article>
        <h1>Pranay Bhandari, 16, Pleasanton, California!</h1>
        <p>Hi! My name is Pranay Bhandari! I'm a Junior at Amador Valley, and here are some projects I wanted to show you!</p>
      </article>
      <article>
        <h1>Uniqueness</h1>
        <p>Our mantra is to create new paths. We are not interested in copying others because we know, that if you want to succeed, you have to be different, unique. Our customers know that we create unique products and experience for them. This is the best way to differentiate us and our brand from the noise on market. Unique, different and proud.</p>
      </article>
    </section>
    <section class="sec-partners" role="section">
      <hr />
      <h1>Our Partners</h1>
      <div class="row">
        <div class="logo-container">
          <img src="https://i.imgur.com/oSriTuP.png" alt="Google logo" />
        </div>
        <div class="logo-container">
          <img src="https://i.imgur.com/kRgvevC.png" alt="Apple logo" />
        </div>
        <div class="logo-container">
          <img src="https://i.imgur.com/ZZjeIP3.png" alt="Wii logo" />
        </div>
        <div class="logo-container">
          <img src="https://i.imgur.com/536rtCW.png" alt="Valve logo" />
        </div>
        <div class="logo-container">
          <img src="https://i.imgur.com/VTq1c9p.png" alt="Adithya Institute of Technology logo" />
        </div>
        <div class="logo-container">
          <img src="https://i.imgur.com/GdYoyxo.png" alt="Intel logo" />
        </div>
      </div>
    </section>
  </main>
</div>
<footer>
  <nav role="navigation">
    <ul class="nav-ul">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Technologies</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Contacts</a></li>
    </ul>
  </nav>
  <p class="copy">&copy; Alex Devero Design 2014</p>
</footer>
<div class="line"></div>