{%extends "base.html"%}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
    {% for color,message in messages %}
    <div class="alert alert-{{color}} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{%block content%}

<div class="container-fluid">
    <div class="row">
        {%for g in goal%}
        <div class="col-sm-4 my-1">
            <div class="card bg-success">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <div>
                        <p class="card-text float-left">{{g["GoalText"]}}</p>
                        <form method="post" class="text-right">
                            <button class = "btn btn-danger text-right" name="delete" value="{{g['GoalText']}}">
                                X
                            </button>
                        </form>
                    </div>
                    <br>
                    <p class="card-text float-left">
                        <small class="text-muted">{{g["GoalDuration"]}} {{g["options"]}}</small>
                    </p>

                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
<button type="button" class="btn btn-primary btn-circle btn-xl" data-toggle="modal" data-target="#AddCard"><i
        class="fas fa-plus-circle"></i></button>
<div class="modal fade" id="AddCard" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Adding Cards</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Goal:</label>
                        <textarea name="GoalText" class="form-control" id="exampleFormControlTextarea1"
                                  rows="3"></textarea>
                        <label for="exampleFormControlTextarea1">Time Limit:</label>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option1" value="Yes" checked> Yes
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option2" value="No"> No
                            </label>
                        </div>
                        <input name="GoalDuration" type="number" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp">
                        <br>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option1" value="Days" checked> Days
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option2" value="Months"> Months
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option3" value="Years"> Years
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" name="addcard" class="btn btn-primary">Got It</button>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock content%}
{%block completion%}
<div class="container-fluid">
    <div class="row">
        {%for g in ncgoals%}
        <div class="col-sm-4 my-1">
            <div class="card bg-success">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <div>
                        <p class="card-text float-left">{{g["GoalText"]}}</p>
                        <form method="post" class="text-right">
                            <button class = "btn btn-danger text-right" name="delete" value="{{g['GoalText']}}">
                                X
                            </button>
                        </form>
                    </div>
                    <br>
                    <p class="card-text float-left">
                        <small class="text-muted">{{g["GoalDuration"]}} {{g["options"]}}</small>
                    </p>

                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock completion%}
