{%extends "base.html"%}
{%block content%}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Note Manager</h1>
  </div>
</div>
<div class="container">
    <form method="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="note" placeholder="Your Note" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-success" type="submit" id="button-addon2">Post</button>
            </div>
        </div>
    </form>
</div>


      {%for x in cw%}
<div class="card">
    <div class="card-body">
        {{x["note"]}}
    </div>
    <form method="post">
    <button class="btn btn-danger" type="submit" value={{x["_id"]}} id="delete" name="delete">X</button>
    </form>
</div>
      {%endfor%}

{%endblock%}
