{%extends "base.html"%}
{%block content%}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Add Products</h1>
  </div>
  <div class=container>
  <a class="btn btn-primary" href="/">Go Back</a>
  </div>
</div>
<div class="container">
<form class="form-inline", method="POST">
  <div class="form-group">
    <input type="text" class="form-control mx-2" id="title" name="title" placeholder="Title">
    <input type="text" class="form-control mx-2" id="desc" name="desc" placeholder="Description">
    <input type="text" class="form-control mx-2" id="unit" name="unit" placeholder="Unit">
    <input type="number" step="0.5" class="form-control mx-2" id="price" name="price" placeholder="Price">
    <input type="text" class="form-control mx-2"  id="image" name="image" placeholder="Image Link">
    <input type="number" class="form-control mx-2" id="quantity" name="quantity" placeholder="Quantity Limit">
    <button type="submit" class="btn btn-primary mx-2">Add Product</button>
  </div>
</form>
</div>
{%endblock%}