{%extends "base.html"%}
{%block content%}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Buy Products</h1>
    </div>
    <div class=container>
        <a class="btn btn-primary" href="/">Go Back</a>
    </div>
</div>
<div class="container col-10">
    <div class="card-deck">
        {%for x in products%}
        <div class="card m-2" style="width: 18rem">
            <div class="card-header">
                {{x["title"]}}
            </div>
            <div class="card-body">
                <img width="100" length="100" src="{{x['image']}}"/>
                <p>{{x["desc"]}}</p>

                <p>Weight: {{x["unit"]}}</p>

                <p>$ {{x["price"]}}</p>

                <p>In Stock: {{x["quantity"]}}</p>
            </div>
            <div class="card-footer">
                <form method="post">
                    <input class="p-1" type="number" id="quantity" name="quantity" placeholder="Quantity">
                    <button class="p-1 btn btn-success" value={{x['_id']}} type="submit" id="buy" name="buy">Buy Product</button>

                    <button class="p-1 btn btn-danger" type="submit" value={{x["_id"]}} id="delete" name="delete">X
                    </button>
                </form>
            </div>
        </div>
        {%endfor%}
        <a href="/checkout" class="p-1 btn-primary">Check Out!</a>
    </div>
</div>
{%endblock%}