{%extends "base.html"%}
{%block content%}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Check Out!</h1>
    </div>
    <div class=container>
        <a class="btn btn-primary" href="/">Go Back</a>
    </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Item</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
      <th scope="col">What you owe us!</th>
    </tr>
  </thead>
  <tbody>
  {%set total = [] %}
  {%for x in cart%}
    <tr>
      <th scope="row">{{loop.index}}</th>
        <td>{{cart[x]["name"]}}</td>
        <td>{{cart[x]["price"]}}</td>
        <td>{{cart[x]["quantity"]}}</td>
      <td>{{cart[x]["quantity"]|float*cart[x]["price"]|float}}</td>
    </tr>
  {%set a = total.append(cart[x]["quantity"]|float*cart[x]["price"]|float)%}
  {%endfor%}
  <tr>
      <td>{{total|sum}}</td>
  </tr>
  </tbody>
</table>
{%endblock%}