{%extends "base.html"%}
{%block content%}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to 1-Stop-Shop</h1>
  </div>
</div>
<a class="btn btn-primary" href="/add">Add Products</a>
<a class="btn btn-primary" href="/buy">Buy Products</a>
{%endblock%}
